.reg-form-width {
  width: 40.625%;
}

.reg-form-border {
  border: 1px solid rgba(207, 207, 207, 1);
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

.btn-w-100 button {
  width: 100%;
}